@import 'all.sass'

/* Fonts */

@font-face
	font-family: 'Open Sans'
	src: url('../fonts/OpenSans-Bold.eot')
	src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Bold.woff2') format('woff2'),url('../fonts/OpenSans-Bold.woff') format('woff'),url('../fonts/OpenSans-Bold.ttf') format('truetype'),url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg')
	font-weight: bold
	font-style: normal
	font-display: swap

@font-face
	font-family: 'Open Sans'
	src: url('../fonts/OpenSans-SemiBold.eot')
	src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),url('../fonts/OpenSans-SemiBold.woff') format('woff'),url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg')
	font-weight: 600
	font-style: normal
	font-display: swap

@font-face
	font-family: 'Open Sans'
	src: url('../fonts/OpenSans-Extrabold.eot')
	src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Extrabold.woff2') format('woff2'),url('../fonts/OpenSans-Extrabold.woff') format('woff'),url('../fonts/OpenSans-Extrabold.ttf') format('truetype'),url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg')
	font-weight: 800
	font-style: normal
	font-display: swap

@font-face
	font-family: 'Bitter'
	src: url('../fonts/Bitter-Regular.eot')
	src: url('../fonts/Bitter-Regular.woff2') format('woff2'),url('../fonts/Bitter-Regular.woff') format('woff'),url('../fonts/Bitter-Regular.ttf') format('truetype'),url('../fonts/Bitter-Regular.svg#Bitter-Regular') format('svg')
	font-weight: normal
	font-style: normal
	font-display: swap

/* END Fonts */

/* Header */

.header
	position: fixed
	top: 0
	left: 0
	z-index: 99
	width: 100%
	padding: 30px 0
	background: #fff
	@media screen and (max-width: 1000px)
		padding: 10px 0
	&.header-active
		padding: 10px 0
		box-shadow: 0px 4px 10px rgba(53, 53, 53, 0.08)
	.logo
		@media screen and (max-width: 760px)
			max-width: 150px
	ul
		margin: 0 -52px
	li
		a
			padding: 0 52px
			font-family: 'Open Sans', sans-serif
	&-search
		@media screen and (max-width: 1200px)
			margin: 0 15px 0 auto

/* END Header */

/* Main page */

.slider
	&-item
		display: flex !important
		@media screen and (max-width: 1000px)
			flex-direction: column-reverse
		.f50
			padding: 85px 0 67px
			@media screen and (max-width: 1000px)
				flex: 1 1 100%
				width: 100%
				max-width: 100%
				min-height: 250px
				padding: 45px 0
			&:nth-child(1)
				background: linear-gradient(35.83deg, #1A75CF 4.15%, #E2F1FF 90.32%)
		&_info
			max-width: 600px
			margin: 0 0 0 auto
			padding: 0 90px 0 15px
			color: #fff
			@media screen and (max-width: 1000px)
				max-width: 100%
				margin: 0 auto
				padding: 0 15px
			.title
				margin-bottom: 20px
				font-size: 46px
				line-height: 63px
				color: #fff
				@media screen and (max-width: 760px)
					font-size: 35px
					line-height: 1.2
			p
				margin: 20px 0
				padding-left: 20px
				border-left: 3px solid #FAFFD1
	.btn-hover
		color: #fff
		border-color: #fff
	&-arrow
		&-prev,
		&-next
			width: 34px
			height: 34px
			margin-top: 35px
			cursor: pointer
		&-prev
			background: url(/wp-content/uploads/2021/04/arrow-prev.svg) no-repeat 50% 50%
		&-next
			margin-left: 17px
			background: url(/wp-content/uploads/2021/04/arrow-next.svg) no-repeat 50% 50%
.about-us
	background: #F5FAFF
	.container
		max-width: 1000px
		@media screen and (max-width: 1200px)
			max-width: 100%
	.f50
		@media screen and (max-width: 1000px)
			flex: 1 1 100%
			width: 100%
			max-width: 100%
	&-desc
		padding-right: 30px
		@media screen and (max-width: 1000px)
			padding: 0 0 25px
	.title
		margin-bottom: 30px
	h5
		margin-bottom: 10px
		font-family: 'Open Sans', sans-serif
		font-weight: 600
		font-size: 20px
		line-height: 27px
		text-transform: uppercase
	&-img
		@media screen and (max-width: 1000px)
			text-align: center
.programms
	&-items
		margin-bottom: -30px
		>.programms-item
			flex: 1 1 calc(40% - 15px)
			width: calc(40% - 15px)
			max-width: calc(40% - 15px)
			margin-right: 15px
			@media screen and (max-width: 760px)
				flex: 1 1 100%
				width: 100%
				max-width: 100%
				margin: 0 0 30px
		&-second
			flex: 1 1 60%
			width: 60%
			max-width: 60%
			padding-left: 15px
			@media screen and (max-width: 760px)
				flex: 1 1 100%
				width: 100%
				max-width: 100%
				padding-left: 0
			.programms-item
				&:last-child
					a
						color: #fff
	&-item
		min-height: 347px
		margin-bottom: 30px
		padding: 35px
		>a
			display: block
			max-width: 230px
			margin-top: 10px
			font-family: 'Open Sans', sans-serif
			font-size: 24px
			line-height: 33px
			text-transform: uppercase
.news
	.title
		margin-bottom: 0
		&+a
			margin-left: 20px
			padding-left: 20px
			line-height: 32px
			color: #1A75CF
			text-decoration: underline
			border-left: 1px solid #1A75CF
			@media screen and (max-width: 760px)
				flex: 1 1 100%
				width: 100%
				max-width: 100%
				margin: 15px 0 0
				padding-left: 0
				line-height: 1.2
				border-left: none
	.f66,
	.f33
		margin-top: 35px
		@media screen and (max-width: 1000px)
			flex: 1 1 100%
			width: 100%
			max-width: 100%
	.f66
		padding-right: 30px
		@media screen and (max-width: 1000px)
			padding-right: 0
	&-items
		margin: 0 -15px
		@media screen and (max-width: 760px)
			margin: 0 auto
		&.tag-preview
			margin-bottom: -40px
			@media screen and (max-width: 760px)
				margin-bottom: -30px
			.news-item
				padding: 9px 0 8px 14px
				border-left: 3px solid #E63C24
				a
					margin: 15px 0 0
			.news-item-date
				margin: 0 0 10px
				color: #353535
			svg
				margin-right: 10px
		&.tag-smi
			margin: 0
			@media screen and (max-width: 1000px)
				display: flex
				flex-wrap: wrap
				margin: 0 -15px
			@media screen and (max-width: 760px)
				margin: 0 auto
			.tags-link
				margin-left: 0
				@media screen and (max-width: 1000px)
					margin-left: 15px
			.news-item
				margin: 0 auto 20px
				padding-bottom: 20px
				border-bottom: 2px solid #A8CDF2
				@media screen and (max-width: 1000px)
					flex: 1 1 50%
					width: 50%
					max-width: 50%
					margin: 0 0 20px
					padding: 0 15px 20px
				@media screen and (max-width: 760px)
					flex: 1 1 100%
					width: 100%
					max-width: 100%
					margin-bottom: 30px
					padding: 0 0 20px
				&:last-child
					margin-bottom: 0
					@media screen and (max-width: 1200px)
						border-bottom: none
		.tags-link
			display: inline-flex
			margin: 0 0 30px 15px
			padding: 4px 22px
			background: #A1FFCE
	&-item
		margin: 0 15px 40px
		@media screen and (max-width: 760px)
			margin: 0 auto 30px
		img
			width: 100%
		&-date
			margin: 15px 0 10px
			font-size: 16px
			color: #A8CDF2
		&-time
			font-size: 16px
		a
			display: block
			margin-bottom: 10px
			font-family: 'Open Sans', sans-serif
			font-size: 20px
			line-height: 27px

/* END Main page */

/* Footer */

.footer
	padding: 40px 0
	.container
		&:before
			content: ''
			position: absolute
			top: -40px
			left: 15px
			width: calc(100% - 30px)
			height: 2px
			background: #A8CDF2
		>.flex
			&:nth-child(2)
				padding-top: 37px
				font-size: 12px
				line-height: 16px
				@media screen and (max-width: 1000px)
					padding-top: 25px
				@media screen and (max-width: 760px)
					flex-direction: column
					text-align: center
	.logo
		@media screen and (max-width: 760px)
			flex: 1 1 100%
			width: 100%
			max-width: 100%
			margin-bottom: 15px
			text-align: center
	ul
		margin: 0 -44px
		@media screen and (max-width: 1000px)
			margin: 0 -15px
		@media screen and (max-width: 760px)
			flex: 1 1 100%
			width: 100%
			max-width: 100%
	li
		a
			padding: 0 44px
			font-family: 'Open Sans', sans-serif
			font-size: 16px
			line-height: 22px
			@media screen and (max-width: 1000px)
				padding: 0 15px
	&-social
		margin: 0 -8px
		@media screen and (max-width: 760px)
			justify-content: center
			flex: 1 1 100%
			width: 100%
			max-width: 100%
			margin-top: 15px
		a
			margin: 0 8px

/* END Footer */

/* Modal */



/* END Modal */

/* Media */

@media screen and (max-width: 1200px)
	header
		&.header-active
			.mobile-menu
				span
					background: #0071CE
	.mobile-menu
		position: relative
		z-index: 2
		.header-hamburger
			flex-direction: column
			justify-content: center
			align-items: center
			width: 40px
			height: 40px
			border-radius: 50%
			-webkit-transition: all .5s ease
			-o-transition: all .5s ease
			-moz-transition: all .5s ease
			transition: all .5s ease
			cursor: pointer
		span
			position: relative
			display: block
			width: 40px
			height: 3px
			margin: 4.5px auto
			background: #0071CE
			border-radius: 1px
			-webkit-transition: all .5s ease
			-o-transition: all .5s ease
			-moz-transition: all .5s ease
			transition: all .5s ease
		&.active
			span
				background: #0071CE
				&.line-1
					top: 3px
					-webkit-transform: rotate(45deg)
					-moz-transform: rotate(45deg)
					-ms-transform: rotate(45deg)
					-o-transform: rotate(45deg)
					transform: rotate(45deg)
				&.line-2
					display: none
				&.line-3
					top: -9px
					-webkit-transform: rotate(-45deg)
					-moz-transform: rotate(-45deg)
					-ms-transform: rotate(-45deg)
					-o-transform: rotate(-45deg)
					transform: rotate(-45deg)
	.header-menu
		position: fixed
		top: 0
		right: -100%
		z-index: 2
		flex-direction: column
		justify-content: center
		width: 50%
		min-width: 300px
		max-width: 350px
		height: 100vh
		margin-right: 0
		background: #fff
		overflow-y: auto
		transition: all .3s ease
		@media screen and (max-width: 760px)
			width: 100%
			max-width: 100%
		&.active
			right: 0%
		ul
			flex-direction: column
			justify-content: center
			align-items: flex-start
		li
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0
			a
				padding: 0 0 0 15px

@media screen and (max-width: 1000px)

@media screen and (max-width: 760px)
	.f33,
	.f50
		flex: 1 1 100%
		width: 100%
		max-width: 100%

/* END Media */